body {
    background: #1F2937;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div.container {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 20px;

}

.header {
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
}

.right-links ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.right-links ul a {
    text-decoration: none;
    color: inherit;
}

.hero {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
}

.secondary {
    color: #F9FAF8;
    font-size: 18px;
}

button.blue {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border: none;
    font-weight: bold;
}
